.TechBox {
    display: flex;
    box-sizing: border-box;
    border: 1px solid var(--color-white);
    border-radius: 25px;
    width: 17.9375rem;    
    height: 5.375rem;
    align-items: center;
    padding: 1.875rem;
    justify-content: left space-between;
    margin-bottom: 1.25rem;
}

.TechBox img {
    width: 1.75rem;
    height: 2rem;
    margin-right: 1.875rem;
}

