.containerFooter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;    
    /* margin: 4.375rem auto; */
    border-bottom: 1px solid white;  
    border-top: 1px solid white;   
    max-height: auto;
    margin: 0 auto; 
    max-width: 62.25rem; 
}

@media (max-width: 768px) { 
    .containerFooter {
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
    }
    .imgSocial {
        display: flex;        
        margin: 0 auto;
        width: 5.375rem;
        height: 1.375rem;
    }    
}







